body {
  background-color: #bdd5ea;
}

.choice-btn {
  width: 120px;
  height: 60px;
  border: none;
  border-radius: 16px;

  margin: 4px 12px;
}

.picked {
  background-color: #1e1e24;
  color: #f7f7ff;
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
}
